In [1]:
import numpy as np
import pandas as pd
import altair as alt
alt.data_transformers.enable("vegafusion")
import matplotlib as plt

### EDA

In [2]:
full_df = pd.read_csv('data/NFL_Play_by_Play_2009-2017.csv')
full_df.head()

C:\Users\fohy2\AppData\Local\Temp\ipykernel_21788\2596084795.py:1: DtypeWarning: Columns (25,51) have mixed types. Specify dtype option on import or set low_memory=False.
  full_df = pd.read_csv('data/NFL_Play_by_Play_2009-2017.csv')

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2009-09-10,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,...,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

In [3]:
full_df.describe()

,GameID,Drive,qtr,down,TimeUnder,TimeSecs,PlayTimeDiff,yrdln,yrdline100,ydstogo,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
count,4.076880e+05,407688.000000,407688.000000,346534.000000,407688.000000,407464.000000,407244.000000,406848.000000,406848.000000,407688.000000,...,159190.000000,382734.000000,382734.000000,381101.000000,381101.000000,382679.000000,402147.000000,159187.000000,158926.000000,407688.000000
mean,2.013158e+09,12.316158,2.577412,2.002476,7.374200,1695.268944,20.576762,28.488327,48.644081,7.309403,...,-0.386086,0.534488,0.465965,0.534791,0.465613,0.501320,0.002099,0.015135,-0.010480,2013.018985
std,2.572839e+06,7.149527,1.129750,1.006353,4.642388,1062.801012,17.969326,12.946471,25.070416,4.869987,...,1.972715,0.285574,0.285629,0.287818,0.287867,0.287445,0.045363,0.056490,0.068139,2.576962
min,2.009091e+09,1.000000,1.000000,1.000000,0.000000,-900.000000,0.000000,1.000000,1.000000,0.000000,...,-14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.997214,-0.999881,-0.986673,2009.000000
25%,2.011101e+09,6.000000,2.000000,1.000000,3.000000,778.000000,5.000000,20.000000,30.000000,3.000000,...,-0.961115,0.325123,0.231411,0.321701,0.227694,0.276472,-0.014728,-0.011518,-0.018683,2011.000000
50%,2.013111e+09,12.000000,3.000000,2.000000,7.000000,1800.000000,17.000000,30.000000,49.000000,9.000000,...,0.000000,0.531274,0.469052,0.533609,0.466670,0.504470,0.000000,0.003441,0.000000,2013.000000
75%,2.015121e+09,18.000000,4.000000,3.000000,11.000000,2585.000000,37.000000,39.000000,70.000000,10.000000,...,0.485508,0.769232,0.675530,0.772882,0.678833,0.725477,0.014684,0.035792,0.011431,2015.000000
max,2.017123e+09,35.000000,5.000000,4.000000,15.000000,3600.000000,943.000000,50.000000,99.000000,50.000000,...,9.559834,1.000000,1.000000,1.000000,1.000000,1.000000,0.994848,0.994848,1.000000,2017.000000

In [4]:
full_df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407688 entries, 0 to 407687
Data columns (total 102 columns):
 #    Column                       Non-Null Count   Dtype
---   ------                       --------------   -----
 0    Date                         407688 non-null  object
 1    GameID                       407688 non-null  int64
 2    Drive                        407688 non-null  int64
 3    qtr                          407688 non-null  int64
 4    down                         346534 non-null  float64
 5    time                         407464 non-null  object
 6    TimeUnder                    407688 non-null  int64
 7    TimeSecs                     407464 non-null  float64
 8    PlayTimeDiff                 407244 non-null  float64
 9    SideofField                  407160 non-null  object
 10   yrdln                        406848 non-null  float64
 11   yrdline100                   406848 non-null  float64
 12   ydstogo                      407688 non-null  int64
 13   ydsnet                       407688 non-null  int64
 14   GoalToGo                     406848 non-null  float64
 15   FirstDown                    378877 non-null  float64
 16   posteam                      382696 non-null  object
 17   DefensiveTeam                382696 non-null  object
 18   desc                         407686 non-null  object
 19   PlayAttempted                407688 non-null  int64
 20   Yards.Gained                 407688 non-null  int64
 21   sp                           407688 non-null  int64
 22   Touchdown                    407688 non-null  int64
 23   ExPointResult                10110 non-null   object
 24   TwoPointConv                 605 non-null     object
 25   DefTwoPoint                  24 non-null      object
 26   Safety                       407688 non-null  int64
 27   Onsidekick                   407688 non-null  int64
 28   PuntResult                   22371 non-null   object
 29   PlayType                     407688 non-null  object
 30   Passer                       167643 non-null  object
 31   Passer_ID                    170243 non-null  object
 32   PassAttempt                  407688 non-null  int64
 33   PassOutcome                  168182 non-null  object
 34   PassLength                   167168 non-null  object
 35   AirYards                     407688 non-null  int64
 36   YardsAfterCatch              407688 non-null  int64
 37   QBHit                        407688 non-null  int64
 38   PassLocation                 167168 non-null  object
 39   InterceptionThrown           407688 non-null  int64
 40   Interceptor                  4520 non-null    object
 41   Rusher                       120564 non-null  object
 42   Rusher_ID                    124034 non-null  object
 43   RushAttempt                  407688 non-null  int64
 44   RunLocation                  119510 non-null  object
 45   RunGap                       87428 non-null   object
 46   Receiver                     161561 non-null  object
 47   Receiver_ID                  157360 non-null  object
 48   Reception                    407688 non-null  int64
 49   ReturnResult                 18238 non-null   object
 50   Returner                     25304 non-null   object
 51   BlockingPlayer               117 non-null     object
 52   Tackler1                     241554 non-null  object
 53   Tackler2                     49735 non-null   object
 54   FieldGoalResult              9059 non-null    object
 55   FieldGoalDistance            8948 non-null    float64
 56   Fumble                       407688 non-null  int64
 57   RecFumbTeam                  4373 non-null    object
 58   RecFumbPlayer                4373 non-null    object
 59   Sack                         407688 non-null  int64
 60   Challenge.Replay             407688 non-null  int64
 61   ChalReplayResult             3402 non-null    object
 62   Accepted.Penalty             407688 non-null  int64
 63   PenalizedTeam                29499 non-null   object
 64   PenaltyType                  16427 non-null   object
 65   PenalizedPlayer              28285 non-null   object
 66   Penalty.Yards                407688 non-null  int64
 67   PosTeamScore                 380784 non-null  float64
 68   DefTeamScore                 380784 non-null  float64
 69   ScoreDiff                    382700 non-null  float64
 70   AbsScoreDiff                 380784 non-null  float64
 71   HomeTeam                     407688 non-null  object
 72   AwayTeam                     407688 non-null  object
 73   Timeout_Indicator            407688 non-null  int64
 74   Timeout_Team                 16803 non-null   object
 75   posteam_timeouts_pre         407688 non-null  int64
 76   HomeTimeouts_Remaining_Pre   407688 non-null  int64
 77   AwayTimeouts_Remaining_Pre   407688 non-null  int64
 78   HomeTimeouts_Remaining_Post  407688 non-null  int64
 79   AwayTimeouts_Remaining_Post  407688 non-null  int64
 80   No_Score_Prob                407512 non-null  float64
 81   Opp_Field_Goal_Prob          407512 non-null  float64
 82   Opp_Safety_Prob              407512 non-null  float64
 83   Opp_Touchdown_Prob           407512 non-null  float64
 84   Field_Goal_Prob              407512 non-null  float64
 85   Safety_Prob                  407512 non-null  float64
 86   Touchdown_Prob               407512 non-null  float64
 87   ExPoint_Prob                 407688 non-null  float64
 88   TwoPoint_Prob                407688 non-null  float64
 89   ExpPts                       407512 non-null  float64
 90   EPA                          407319 non-null  float64
 91   airEPA                       159294 non-null  float64
 92   yacEPA                       159190 non-null  float64
 93   Home_WP_pre                  382734 non-null  float64
 94   Away_WP_pre                  382734 non-null  float64
 95   Home_WP_post                 381101 non-null  float64
 96   Away_WP_post                 381101 non-null  float64
 97   Win_Prob                     382679 non-null  float64
 98   WPA                          402147 non-null  float64
 99   airWPA                       159187 non-null  float64
 100  yacWPA                       158926 non-null  float64
 101  Season                       407688 non-null  int64
dtypes: float64(33), int64(31), object(38)
memory usage: 317.3+ MB

In [5]:
df = full_df.iloc[:, 2:19]
df.head()

,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,yrdln,yrdline100,ydstogo,ydsnet,GoalToGo,FirstDown,posteam,DefensiveTeam,desc
0,1,1,NaN,15:00,15,3600.0,0.0,TEN,30.0,30.0,0,0,0.0,NaN,PIT,TEN,R.Bironas kicks 67 yards from TEN 30 to PIT 3....
1,1,1,1.0,14:53,15,3593.0,7.0,PIT,42.0,58.0,10,5,0.0,0.0,PIT,TEN,(14:53) B.Roethlisberger pass short left to H....
2,1,1,2.0,14:16,15,3556.0,37.0,PIT,47.0,53.0,5,2,0.0,0.0,PIT,TEN,(14:16) W.Parker right end to PIT 44 for -3 ya...
3,1,1,3.0,13:35,14,3515.0,41.0,PIT,44.0,56.0,8,2,0.0,0.0,PIT,TEN,(13:35) (Shotgun) B.Roethlisberger pass incomp...
4,1,1,4.0,13:27,14,3507.0,8.0,PIT,44.0,56.0,8,2,0.0,1.0,PIT,TEN,(13:27) (Punt formation) D.Sepulveda punts 54 ...

In [6]:
df.to_csv('data/df.csv')

In [7]:
# columns with missing values
missing_cols = []
for col in df.columns:
    if df[col].isnull().sum() != 0:
        missing_cols.append(col)
missing_cols

['down',
 'time',
 'TimeSecs',
 'PlayTimeDiff',
 'SideofField',
 'yrdln',
 'yrdline100',
 'GoalToGo',
 'FirstDown',
 'posteam',
 'DefensiveTeam',
 'desc']

In [8]:
for col in missing_cols:
    print(f'{df[col].isnull().sum() / df.shape[0] * 100:.4f}% missing in {col}')

15.0002% missing in down
0.0549% missing in time
0.0549% missing in TimeSecs
0.1089% missing in PlayTimeDiff
0.1295% missing in SideofField
0.2060% missing in yrdln
0.2060% missing in yrdline100
0.2060% missing in GoalToGo
7.0669% missing in FirstDown
6.1302% missing in posteam
6.1302% missing in DefensiveTeam
0.0005% missing in desc

In [9]:
# Create complete case df
df_cc = df.dropna()

In [10]:
df_cc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 346515 entries, 1 to 407686
Data columns (total 17 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Drive          346515 non-null  int64
 1   qtr            346515 non-null  int64
 2   down           346515 non-null  float64
 3   time           346515 non-null  object
 4   TimeUnder      346515 non-null  int64
 5   TimeSecs       346515 non-null  float64
 6   PlayTimeDiff   346515 non-null  float64
 7   SideofField    346515 non-null  object
 8   yrdln          346515 non-null  float64
 9   yrdline100     346515 non-null  float64
 10  ydstogo        346515 non-null  int64
 11  ydsnet         346515 non-null  int64
 12  GoalToGo       346515 non-null  float64
 13  FirstDown      346515 non-null  float64
 14  posteam        346515 non-null  object
 15  DefensiveTeam  346515 non-null  object
 16  desc           346515 non-null  object
dtypes: float64(7), int64(5), object(5)
memory usage: 47.6+ MB

In [11]:
df_cc.corr(numeric_only=True).style.background_gradient()

In [ ]:
# Our target is `yrdln`
target_col = ['yrdln']

alt.Chart(df_cc).mark_bar().encode(
    alt.X('yrdln').bin(maxbins=30),
    y='count()'
)

alt.Chart(...)

## MCAR

In [48]:
df_missing = df_cc.copy()
proportion_to_replace = 0.10
target_column = 'yrdln'

num_values_to_replace = int(len(df_missing) * proportion_to_replace)
print(f'{num_values_to_replace} values to be replaced by NaN')

random_indices = np.random.choice(
    df_missing.index, size=num_values_to_replace, replace=False)

df_missing.loc[random_indices, target_column] = np.nan

34651 values to be replaced by NaN

In [49]:
df_missing.info()

<class 'pandas.core.frame.DataFrame'>
Index: 346515 entries, 1 to 407686
Data columns (total 17 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Drive          346515 non-null  int64
 1   qtr            346515 non-null  int64
 2   down           346515 non-null  float64
 3   time           346515 non-null  object
 4   TimeUnder      346515 non-null  int64
 5   TimeSecs       346515 non-null  float64
 6   PlayTimeDiff   346515 non-null  float64
 7   SideofField    346515 non-null  object
 8   yrdln          311864 non-null  float64
 9   yrdline100     346515 non-null  float64
 10  ydstogo        346515 non-null  int64
 11  ydsnet         346515 non-null  int64
 12  GoalToGo       346515 non-null  float64
 13  FirstDown      346515 non-null  float64
 14  posteam        346515 non-null  object
 15  DefensiveTeam  346515 non-null  object
 16  desc           346515 non-null  object
dtypes: float64(7), int64(5), object(5)
memory usage: 55.6+ MB

In [50]:
df_missing.query('yrdln.isnull()').head()

,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,yrdln,yrdline100,ydstogo,ydsnet,GoalToGo,FirstDown,posteam,DefensiveTeam,desc
3,1,1,3.0,13:35,14,3515.0,41.0,PIT,NaN,56.0,8,2,0.0,0.0,PIT,TEN,(13:35) (Shotgun) B.Roethlisberger pass incomp...
14,3,1,4.0,08:25,9,3205.0,36.0,TEN,NaN,41.0,21,2,0.0,1.0,PIT,TEN,(8:25) (Punt formation) D.Sepulveda punts 30 y...
32,7,1,1.0,01:38,2,2798.0,13.0,PIT,NaN,79.0,10,2,0.0,0.0,PIT,TEN,(1:38) W.Parker right guard to PIT 23 for 2 ya...
33,7,1,2.0,00:57,1,2757.0,41.0,PIT,NaN,77.0,8,3,0.0,0.0,PIT,TEN,(:57) (Shotgun) W.Parker right tackle to PIT 2...
35,8,1,1.0,00:06,1,2706.0,6.0,PIT,NaN,44.0,10,1,0.0,0.0,TEN,PIT,(:06) C.Johnson up the middle to PIT 43 for 1 ...

## Mean imputation

In [51]:
df_mean_imp = df_missing.copy()

In [52]:
yrdln_mean = np.mean(df_mean_imp['yrdln'])
df_mean_imp.fillna(yrdln_mean, inplace=True)
print(f'Missing value replaced by mean = {yrdln_mean:.2f}')

Missing value replaced by mean = 28.80

In [57]:
true_mean = np.mean(df_cc['yrdln'])
mean_imputed_mean = np.mean(df_mean_imp['yrdln'])

print(f'True mean = {round(true_mean, 4)}')
print(f'Mean imputed mean = {round(mean_imputed_mean, 4)}')

True mean = 28.8192
Mean imputed = 28.8042

In [60]:
true_std = np.std(df_cc['yrdln'])
mean_imputed_std = np.std(df_mean_imp['yrdln'])

print(f'True std = {round(true_std, 4)}')
print(f'Mean imputed std = {round(mean_imputed_std, 4)}')

True std = 12.8388
Mean imputed std = 12.1789

In [59]:
from sklearn.metrics import mean_squared_error
mse_mean_imputed = mean_squared_error(df_cc['yrdln'], df_mean_imp['yrdln'])

print(round(mse_mean_imputed, 4))

16.5089

In [ ]:
train_df = df_missing.dropna()
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 343597 entries, 1 to 407686
Data columns (total 17 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Drive          343597 non-null  float64
 1   qtr            343597 non-null  float64
 2   down           343597 non-null  float64
 3   time           343597 non-null  object
 4   TimeUnder      343597 non-null  float64
 5   TimeSecs       343597 non-null  float64
 6   PlayTimeDiff   343597 non-null  float64
 7   SideofField    343597 non-null  object
 8   yrdln          343597 non-null  float64
 9   yrdline100     343597 non-null  float64
 10  ydstogo        343597 non-null  float64
 11  ydsnet         343597 non-null  float64
 12  GoalToGo       343597 non-null  float64
 13  FirstDown      343597 non-null  float64
 14  posteam        343597 non-null  object
 15  DefensiveTeam  343597 non-null  object
 16  desc           343597 non-null  object
dtypes: float64(12), object(5)
memory usage: 47.2+ MB